
.navbar{
	background-color: #76bd1d	;
	border-color:  #76bd1d	;
}

.navbar > div > .navbar-nav > li > a{
	background : none;
	color : white;
	font-weight: bold;
}

.navbar > div > .navbar-nav > li > a:hover{
	background : #34302d;
	color : white;
	font-weight: bold;
}

.navbar > .navbar-toggler{
		background : #34302d;
}

.navbar > .navbar-toggler > .navbar-toggler-icon{
		background : #76bd1d;
}

.navbar > a {
	background : none;
	color : white;
	font-weight: bold;
}
.navbar > a:hover {
	background : #34302d;
	color : white;
	font-weight: bold;
}

.card > .card-header {
	background-color: #76bd1d;
	padding : 20px;
	color: white;
}

textarea {
	width: 100%;
}

.errorsz {
	color : red;
}

.pagination{
	margin-top : 20px;
	margin-bottom : 20px;
}

.homepage-status{
	text-align:   center;
	margin-top: 30px;
	font-size: larger;
}

.show > .btn-secondary.dropdown-toggle{

	background-color: #004001;
	border-color: #0a0a0a;
	font-weight: bold;
	padding-right: 20px;
}

.edit-links{
	margin-top: 15px;
	text-shadow: black;
}

.login-class > div > .card-body >.login-form > .form-group > .btn-primary {
    background-color: #26d618;
    border-color: #090a0a;
    margin-top: 20px;

}

.logout-styler {
	margin: 10px;
	background: none;
    color: white;
    font-weight: bold;
}

.navbar > div > div > a{
	background : none;
	color : white;
	font-weight: bold;
	margin: 10px; 
	padding: 5px;
}

.navbar > div > div > a:hover{
	background : #34302d;
	color : white;
	font-weight: bold;
}

.login-section > div > div > .panel-body > .login-form > div{
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-about{
	width: 100%;
	border:  1px solid olive;
	overflow: auto;
	padding: 20px;
}

.profile-image{
	float:left;
	margin: 10px; 
}

.profile-text{
	font-size: larger;
}

.edit{
	  position: absolute;
	  right: 50px;
  	bottom:  0px;
}

